<mat-grid-list cols="2">
  <mat-grid-tile>
    <div>
      <ul class="heroes">
        <li *ngFor="let task of tasks" (click)="onSelect(task)">
          <mat-card>
          <div class="task-element">
            <div class="task-id">{{task.id}}</div>
            <div class="task-name">{{task.name}}</div>
            <div class="tas-description">{{task.description}}</div>
          </div>
          </mat-card>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="add-area">
      <mat-card>
        <form [formGroup]="addForm" (submit)="onAddTask()">
          <mat-form-field>
            <input matInput placeholder="Task name" type="text" id="name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Task description" type="text" id="description" formControlName="description">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">ADD</button>
        </form>
      </mat-card>
    </div>
    <div class="edit-area" *ngIf="selectedTask">
      <mat-card>
        <form [formGroup]="editForm" (submit)="onEditTask()">
          <mat-form-field>
            <input matInput placeholder="Task ID" [(ngModel)]="selectedTask.id" type="text" disabled id="editId"
                   formControlName="id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Task name" [(ngModel)]="selectedTask.name" type="text" id="editName"
                   formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Task description" [(ngModel)]="selectedTask.description" type="text"
                   id="editDescription"
                   formControlName="description">
          </mat-form-field>
          <button type="submit">UPDATE</button>
        </form>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
